.featureHighlights.forPharmacies {
    background-color: #F5F5ED;
}

.whatWeDo {
    margin: 138px auto 0;
    position: relative;
    width: fit-content;
}

.checkItem {
    display: flex;
    margin-bottom: 20px;

    span {
        font-size: 20px;
        max-width: 300px;
    }

    img {
        margin-right: 25px;
    }
}

.checkListContainer {
    text-align: left;
    position: absolute;
    right: 67px;
    top: 150px;

    ul {
        padding: 0;
    }

    h2 {
        font-size: 46px;
    }
}

.howItWorks.forPharmacies {
    background: linear-gradient(0deg, #FFF 0%, #F5F5ED 100%);
    max-width: unset;
    margin: 0;
}

.demo-request {
    .contactForm {
        margin: 60px auto 178px;
    }

    .formInput, .formTextarea {
        background-color: #F2F2F2;

        &::placeholder {
            color: black;
        }
    }
}