.featureHighlights.forPharmacies {
    background-color: #F5F5ED;
}

.whatWeDo {
    margin: 138px auto 0;
    position: relative;
    width: fit-content;

    .whatWeDoImg {
        @media (max-width: 991px) {
            display: none;
            width: 100vw;
            margin-left: -25px;
        }
    }
}

.checkItem {
    display: flex;
    margin-bottom: 20px;

    span {
        font-size: 20px;
        max-width: 300px;

        @media (max-width: 991px) {
            font-size: 14px;
        }
    }

    img {
        margin-right: 25px;
    }
}

.checkListContainer {
    text-align: left;
    position: absolute;
    right: 67px;
    top: 150px;

    @media (max-width: 991px) {
        position: relative;
        right: unset;
        top: unset;
        margin-top: 40px;
    }

    ul {
        padding: 0;
    }

    h2 {
        font-size: 46px;

        @media (max-width: 991px) {
            font-size: 32px;
            margin-left: -25px;
            text-align: center;
            margin-bottom: 12px;
        }
    }
}

.howItWorks.forPharmacies {
    background: linear-gradient(0deg, #FFF 0%, #F5F5ED 100%);
    max-width: unset;
    margin: 0;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
    }
}

.demo-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        font-size: 56px;
        display: flex;
        position: relative;
        margin-right: 397px;

        img {
            bottom: -124px;
            position: absolute;
            width: 400px;
            left: 400px;
        }
    }

    .contactForm {
        margin: 60px auto 178px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .formInput, .formTextarea {
        background-color: #F2F2F2;

        &::placeholder {
            color: black;
        }

        @media (max-width: 991px) {
            padding: 8px;
        }
    }

    img {
        @media (max-width: 991px) {
            width: 100px;
        }
    }
}

@media (max-width: 991px) {
    .demo-request {
        padding: 0 15px;

        h1 {
            font-size: 32px;
            margin: 0;

            img {
                width: 200px;
                bottom: -101px;
                left: 14px;
            }
        }
    }
}